.checkout{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
}
.checkout_left{

}
.checkout_title{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding-bottom: 20px;
}
.checkoutProduct img{
    width: 180px;
    height: 180px;
    object-fit: contain;

}
.checkoutProduct_info{
    padding-left: 20px;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: bold;
}
.checkoutProduct_price{
    margin: 20px 0;
}
.checkoutProduct_info button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.checkout_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: sticky;

}
.subtotal button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
}