.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.header img{
    width: 100px;
    margin: 15px;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 10px;
}
.header_search input{
    height: 20px;
    padding: 10px;
    border: 0;
    outline: 0;
    width: 80%;
}
.header_searchIcon{
    padding: 8px;
    height: 20px;
    background-color: #cd9042;
}
.header_bottom{
    background-color: #232f3e;
}
.header_bottom ul{
    list-style-type: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
    
}   
.header_bottom ul li{
    margin-right: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    
}
.header_nav{
    display: flex;
    align-items: center;
}
.header_optionone{
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    justify-content: space-evenly;
}
.header_optiontwo{
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;

}
.header_option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.header_optionBasket{
    display: flex;
    color: #fff;
    margin: 0 10px;
}
.header_optionBasket a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration:none;
}
.header_optionBasket a span{
    margin-top: -20px;
    /* color: #f08804; */
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight:bold;
}
.header_bottom uli li img{
    width: 250px;
}