.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.header img{
    width: 140px;
}
.header_search{
    color: red;
}
.header_bottom{
    background-color: #232f3e;
}
.header_bottom ul{
    list-style-type: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
    
}   
.header_bottom ul li{
    margin-right: 20px;
    color: #fff;
    
}